test/**/*.jpg filter=lfs diff=lfs merge=lfs -text
test/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
test/**/*.png filter=lfs diff=lfs merge=lfs -text
test/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
test/**/*.mov filter=lfs diff=lfs merge=lfs -text
test/**/*.heic filter=lfs diff=lfs merge=lfs -text
test/**/*.360 filter=lfs diff=lfs merge=lfs -text
test/**/*.dng filter=lfs diff=lfs merge=lfs -text
test/**/*.insp filter=lfs diff=lfs merge=lfs -text
test/**/*.insv filter=lfs diff=lfs merge=lfs -text
