# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
# exclude test files
test            export-ignore
# exclude other development files
install*        export-ignore
uninstall*      export-ignore
# exlude outdated firmware
HD8.01.02.50.00 export-ignore
HD9.01.01.60.00 export-ignore
H21.01.01.30.00 export-ignore
H21.01.01.42.00 export-ignore
test/**/*.jpg filter=lfs diff=lfs merge=lfs -text
test/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
test/**/*.png filter=lfs diff=lfs merge=lfs -text
test/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
test/**/*.mov filter=lfs diff=lfs merge=lfs -text
test/**/*.heic filter=lfs diff=lfs merge=lfs -text
test/**/*.360 filter=lfs diff=lfs merge=lfs -text
test/**/*.dng filter=lfs diff=lfs merge=lfs -text
test/**/*.insp filter=lfs diff=lfs merge=lfs -text
test/**/*.insv filter=lfs diff=lfs merge=lfs -text
